@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Electrical Application</h2>
        <p>
            This application is used to facilitate electrical engineering processes and electrical engineering calculations. 
            Many of the tools included in this application can be used for electricians, electrical designer and other professionals. 
            This program is distributed without any guaranty of accuracy or correctness, instead the program should be used 
            as a guideline, always double check with an expert if you have any doughts.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ohms Law</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        
    </div>
</div>