@{
    ViewBag.Title = "Home Page";
}

<!-- Main Section -->
    <div class="row">
        <div class="col-md-12">

            <!-- Main Heading Explaining the program to the user -->
            <h2>Electrical Application</h2>
            <p>
                This application is used to facilitate electrical engineering processes and electrical engineering calculations.
                Many of the tools included in this application can be used for electricians, electrical designer and other professionals.
                This program is distributed without any guaranty of accuracy or correctness, instead the program should be used
                as a guideline, always double check with an expert if you have any doughts.
            </p>
        </div>
        <div class="col-md-4">

            <!-- Explaining Ohms Law -->
            <h2>Ohms Law</h2>
            <p>Ohms Law describes the relationship between voltage, current and resistance. </p>
            <p>Voltage is often know as the electromotive force. Voltage can be reprecented as V or also as E. </p>
            <p>Current is the intensity of the electricity passing through a condutor. Current is often described as I. </p>
            <p>
                Resistance is the ability of a material to oppose the flow of current. In other words how much a material "resists"
                the flow of electricity. Resistance is often described as R.
            </p>

            <p>Voltage = (Current) X (Resistance)</p>

            <p>Current = (Voltage) / (Resistance)</p>

            <p>Resistance = (Voltage) / (Current)</p>

        </div>

        <!-- Explaining the importance of Physics -->
        <div class="col-md-4">
            <h2>Physics</h2>
            <p>Physics is a fundamental discipline that can be very useful to solve electricla engineering problems.</p>

        </div>

        <!-- Explaining the Importance of Mathematics -->
        <div class="col-md-4">
            <h2>Mathematics</h2>
            <p>
                Mathematics can be a very useful tool in the engineering process. Often software can be used
                to do the calculations, but having good mathematical understanding is fundamental.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Circuit Design</h2>
            <p>
                Circuit Design is a fundamental part of electrical engineering.
            </p>

        </div>
    </div>